body{
    background-image: url("/Interactive-Ball-Petstest.jpg");
    background-size: cover;
}

h1{
    font-family: 'Oswald', sans-serif;
    color: darkblue;
    /*background-color: darkblue;*/
    text-align: center;
}

h2{
    color: darkblue;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

table{
    background-color: rgb(1, 148, 116);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border-color:antiquewhite;
    margin-right: auto;
    width: 325px;
    margin-bottom: -35px;
}

.forms{
    border-style: solid;
    width: 200px;
    background-color: rgb(1, 148, 116);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border-color:antiquewhite;
    margin-left: auto;
    text-align: center;
    margin-top: -135px;
}

.caption{
    color: darkblue;
    font-weight: bold;
}

.button{
    background-color: rgb(1, 148, 116);
    color: white;
    border-color: white;
}

.feed{
    background-color: rgb(1, 148, 116);
    color: white;
    border-color: white;
    float: left;
    margin-left: 11px;
}

.oil{
    background-color: rgb(1, 148, 116);
    color: white;
    border-color: white;
    float: left;
    margin-left: 19px;
}

.adopt{
    background-color: rgb(1, 148, 116);
    color: white;
    border-color: white;
    float: left;
    margin-left: 8px;
}

.adoptR{
    background-color: rgb(1, 148, 116);
    color: white;
    border-color: white;
    float: left;
    margin-left: 17px;
}

#OrganicCat{
    border-style: solid;
    width: 200px;
    background-color: rgb(1, 148, 116);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border-color:antiquewhite;
    margin-left: auto;
    text-align: center;
    margin-top: 30px;
}

#OrganicDog{
    border-style: solid;
    width: 200px;
    background-color: rgb(1, 148, 116);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border-color:antiquewhite;
    margin-left: auto;
    text-align: center;
    margin-top: -350px;
}

#RoboticDog{
    border-style: solid;
    width: 200px;
    background-color: rgb(1, 148, 116);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border-color:antiquewhite;
    margin-left: auto;
    text-align: center;
    margin-top: 30px;
}

#RoboticCat{
    border-style: solid;
    width: 200px;
    background-color: rgb(1, 148, 116);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border-color:antiquewhite;
    margin-left: auto;
    text-align: center;
    margin-top: 30px;
}