<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Pet</title>
    <link rel="stylesheet" href="/shelter.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">
    <script th:src="@{'/shelters/' + ${shelter.id} + '/specificShelter.js'}"></script>
</head>

<body>
<h1>Welcome to the <span th:text="${shelter.name}"></span> pet shelter!!</h1>

<div>
    <h2 th:if="${pets.size} == 0">No pets yet!</h2>

</div>
<table th:if="${pets.size} >= 1" border="1">
    <thead>
    <caption>
        Organic Dogs
    </caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Hunger Level</th>
        <th>Actions</th>
        <th>Adopt</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${pet.type.name() == 'ORGANIC_DOG'}"  th:each="pet : ${pets}">
        <td th:text="${pet.id}"></td>
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.hunger}"></td>
        <td>
            <button th:onclick="feedOrganicDog([[${pet.id}]]), refreshPage()">
                Feed
            </button>
        </td>
        <td>
            <button th:onclick="adopt([[${pet.id}]]), refreshPage()">
                Adopt
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div>
</div><br><br><br>
<table th:if="${pets.size} >= 1" border="1">
    <thead>
    <caption>
        Organic Cats
    </caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Hunger Level</th>
        <th>Actions</th>
        <th>Adopt</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${pet.type.name() == 'ORGANIC_CAT'}"  th:each="pet : ${pets}">
        <td th:text="${pet.id}"></td>
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.hunger}"></td>
        <td>
            <button th:onclick="feedOrganicCat([[${pet.id}]]), refreshPage()">
                Feed
            </button>
        </td>
        <td>
            <button th:onclick="adoptOrganicCat([[${pet.id}]]), refreshPage()">
                Adopt
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div>
</div><br><br><br>
<table th:if="${pets.size} >= 1" border="1">
    <thead>
    <caption>
        Robotic Dogs
    </caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Hunger Level</th>
        <th>Oil</th>
        <th>Adopt</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${pet.type.name() == 'ROBOTIC_DOG'}"  th:each="pet : ${pets}">
        <td th:text="${pet.id}"></td>
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.oil}"></td>
        <td>
            <button th:onclick="oilRoboticDog([[${pet.id}]]), refreshPage()">
                Oil
            </button>
        </td>
        <td>
            <button th:onclick="adoptRoboticDog([[${pet.id}]]), refreshPage()">
                Adopt
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div>
</div><br><br><br>
<table th:if="${pets.size} >= 1" border="1">
    <thead>
    <caption>
        Robotic Cats
    </caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Oil Level</th>
        <th>Actions</th>
        <th>Adopt</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${pet.type.name() == 'ROBOTIC_CAT'}"  th:each="pet : ${pets}">
        <td th:text="${pet.id}"></td>
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.oil}"></td>
        <td>
            <button th:onclick="oilRoboticCat([[${pet.id}]]), refreshPage()">
                Oil
            </button>
        </td>
        <td>
            <button th:onclick="adoptRoboticCat([[${pet.id}]]), refreshPage()">
                Adopt
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <form style="border-style: solid; width: 200px;"
          th:action="@{'/shelters/' + ${shelter.id} + '/organicDog'}" method="post">
        <label for="name">Add an Organic Dog:</label>
        <input type="text" id="name" name="name"><br>
        <input type="submit" value="Submit">
    </form>
</div>
<div>
    <form style="border-style: solid; width: 200px;"
          th:action="@{'/shelters/' + ${shelter.id} + '/organicCat'}" method="post">
        <label for="name">Add an Organic Cat:</label>
        <input type="text" id="nameOC" name="name"><br>
        <input type="submit" value="Submit">
    </form>
</div>
<div>
    <form style="border-style: solid; width: 200px;"
          th:action="@{'/shelters/' + ${shelter.id} + '/roboticDog'}" method="post">
        <label for="name">Add a Robotic Dog:</label>
        <input type="text" id="nameRD" name="name"><br>
        <input type="submit" value="Submit">
    </form>
</div>
<div>
    <form style="border-style: solid; width: 200px;"
          th:action="@{'/shelters/' + ${shelter.id} + '/roboticCat'}" method="post">
        <label for="name">Add a Robotic Cat:</label>
        <input type="text" id="nameRC" name="name"><br>
        <input type="submit" value="Submit">
    </form>
</div>
<a href="/shelters">
    <button id="back">Back to shelter selection</button>
</a></body>
</html>