<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Pet</title>
    <link rel="stylesheet" href="/shelter.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">
    <script>
    let num = 0;
    let shelterID = 0;
        function refreshPage(){
            window.location.reload();
        }

        function feed(num) {
            fetch("http://localhost:8080/shelters/1/organicDog/" + num, {
            method: "PUT",
                })
            .then((response) => response.json())
            .then((result) => {
            console.log("Success:", result);
            })
            .catch((error) => {
            console.error("Error:", error);
            });
        }

        function adopt(num) {
            fetch("http://localhost:8080/shelters/1/organicDog/" + num, {
            method: "DELETE",
                })
            .then((response) => response.json())
            .then((result) => {
            console.log("Success:", result);
            })
            .catch((error) => {
            console.error("Error:", error);
            });
        }

        function tick(shelterID) {
            fetch("http://localhost:8080/shelters/" + shelterID, {
            method: "PUT",
                })
            .then((response) => response.json())
            .then((result) => {
            console.log("Success:", result);
            })
            .catch((error) => {
            console.error("Error:", error);
            });
        }

        //every 5 seconds refresh the page and tick all pets
        window.setInterval(() => refreshPage(), 10000)
        window.setInterval(() => tick([[${shelter.id}]]), 10000)




    </script>
</head>

<body>
<h1>Welcome to the <span th:text="${shelter.name}"></span> pet shelter!!</h1>

<div>
    <h2 th:if="${pets.size} == 0">No pets yet!</h2>

</div>
<table th:if="${pets.size} >= 1" border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Hunger Level</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pet : ${pets}">
        <td th:text="${pet.id}"></td>
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.hunger}"></td>
        <td>
            <button th:onclick="feed([[${pet.id}]]), refreshPage()">
                Feed
            </button>
        </td>
        <td>
            <button th:onclick="adopt([[${pet.id}]]), refreshPage()">
                Adopt
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <form style="border-style: solid; width: 200px;"
          th:action="@{'/shelters/' + ${shelter.id} + '/organicDog'}" method="post">
        <label for="name">Add an Organic Dog:</label>
        <input type="text" id="name" name="name"><br>
        <input type="submit" value="Submit">
    </form>
</div>
<a href="/shelters">
    <button id="back">Back to shelter selection</button>
</a></body>
</html>